
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

/* #Primary
================================================== */


:root{

    --primary: rgb(233, 23, 41);
	--secondary : rgb(17, 30, 56);
	--third : rgb(0 17 44);
}


body{
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #212112;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
	background-position: center;
	background-repeat: repeat;
	background-size: 5%;
	background-color: rgb(228, 227, 227);
	overflow-x: hidden;
  	position: relative;
	min-height: 100vh;
	
}
::selection {
	color: #fff;
	background-color: var(--primary);
}

*{
	outline: var(--primary);
}

::-moz-selection {
	color: #fff;
	background-color: var(--primary);
}

.my-text{

	text-align: center;
}



@media screen and (min-width: 992px) {
	
	.my-text{

		text-align: left;
		
	}
	
	[lang = "ar"] .my-text,
	[lang = "ku"] .my-text
	{

		text-align: right !important;
	}
}


p.my-text:lang(ar){

	font-size: 19px;
}


[lang = "ar"] .ar,
[lang = "ku"] .ar
{
	text-align: right;
	direction: rtl;
}

/* #Navigation
================================================== */

.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 10px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 50px;
}
.navigation-wrap{
	position: sticky;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
}
.navbar{
	padding: 0;
}
.navbar-brand img{
	height: 70px;
	width: auto;
	display: block;
    padding: 0;
    margin: 0;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #212121 !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: var(--primary) !important;
}
.nav-item.active .nav-link{
	color: #777 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: var(--primary);
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}

/* #Primary style
================================================== */

.bg-light {
	background-color: #fff !important;
    transition: all 200ms linear;
}
.section {
    position: relative;
	width: 100%;
	display: block;
}
.full-height {
    height: 100vh;
}
.over-hide {
    overflow: hidden;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
/* h1{
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
	color: #212112;
	text-align: center;
} */

/* p{
	margin: 0;
	padding-top: 10px;
	opacity: 1;
	transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1700ms;
} */


.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	left: auto;
	right: 0;
	letter-spacing: 1px;
	color: #212121;
	background-color: #fcfaff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 3px 15px;
	color: #212121;
	border-radius: 2px;
    transition: all 200ms linear;
}

.dropdown-item:lang(ar){
	text-align: right;
}
.dropdown-item:hover, 
.dropdown-item:focus {
	color: #fff;
	background-color: rgba(129,103,169,.6);
}



/* #Media
================================================== */

@media (max-width: 767px) { 
	h1{
		font-size: 38px;
	}
	.nav-item:after{
		display: none;
	}
	/* .nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
	} */
	/* .dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
		transition: all 200ms linear;
	} */
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
	body.dark .nav-item::before {
		background-color: #fff;
	}
	body.dark .dropdown-toggle::after {
		background-color: #fff;
	}
	body.dark .dropdown-menu {
		background-color: transparent;
		box-shadow: none;
	}
}

/* #Link to page
================================================== */

.logo {
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  filter: brightness(10%);
	transition: all 250ms linear;
}
body.dark .logo img {
  filter: brightness(100%);
}


[lang = "ar"] .navbar-nav ,
[lang = "ku"] .navbar-nav 
{

    direction: rtl;
	text-align: right;
	padding-right: 14px;
}

/* .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }
 */

.logo1{

    fill: var(--primary);
    height: 50px;
}

.logo-text{

    font-size: 18px;
    font-weight: 500;
    color: var(--primary);
    margin-top: 10px;
    padding-left: 5px;
    position: relative;
    top: 5px;
}

.marg{

	padding-top: 60px;
	padding-bottom: 60px;
}

header img, section img {

	width: 100%;
}

header h2 {
	color: var(--primary);
}

.tm-col-md-reverse { flex-direction: column-reverse; }
.tm-col-md-reverse > * { flex: 1; }

@media(min-width: 992px) {
    .tm-col-md-reverse {
        flex-direction: row;   
    }

}


@media(min-width: 1650px) {
	
	.h-img {
		width: 650px;
	}
}

/* 
@media screen and (max-width: 1400px) and (min-width: 1000px)  {
	
	.h-img {
		width: 120%;
	}
} */



.testimonial-cards div{

background-color: #fff;
box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
max-width: 360px;
margin: auto;
margin-bottom: 80px;
border-top: 5px solid var(--primary);
padding: 30px;
border-radius: 10px;

}



.testimonial-cards div:before {
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	color: var(--primary);
	content: "\f004";
	font-family: 'FontAwesome';
	font-size: 32px;
	font-style: normal;
	left: 50%;
	line-height: 60px;
	position: absolute;
	top: -30px;
	width: 60px;
	text-align: center;
  }


footer{

    background-color: rgb(0 17 44);
    color: #fff;
    padding: 20px;
    font-size: 14px;
	height: 70px;
	position: absolute;
	bottom: 0px;
	width: 100%;
}


.book-section{

	background-color:rgb(17, 30, 56);
	padding: 80px;
	color: #fff;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	border-top: 6px solid var(--primary);
	margin-top: 200px;
}



@media(max-width: 500px) {
	
	.book-section h2{
		font-size: 24px;
	}

	.book-section h4{
		font-size: 18px;
	}
}



.features-cards > div{

	border-right: 1px dashed red;
	border-bottom: 1px dashed red;
	padding: 30px;
	background-color: #fff;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
}

.features-cards > div:nth-child(3){

	border-right: none;
}


@media(max-width: 992px) {
	
	.features-cards > div{

		border-right: none;
	
	}


}

@media(min-width: 992px) {
	
	.features-cards:nth-of-type(2) > div{

		border-bottom: none;
	}
	
}



.feature-icon{

	width: 50px;
	height: 50px;
	margin: 20px auto;
	margin-top: 0;

}

/* body{margin-top:20px;} */

.price_plan_area {
    position: relative;
}

.single_price_plan {
    position: relative;
    z-index: 1;
    /* border-radius: 0.5rem 0.5rem 0 0; */
    border-radius: 0.5rem;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    /* margin-bottom: 50px; */
    background-color: #ffffff;
    padding: 1rem 1rem;
	/* border: 2px solid #000; */

}

.single_price_plan:lang(ar){
	direction: rtl;
    text-align: right;
}

.single_price_plan::after {
    position: absolute;
    content: "";
    /* background-image: url("https://bootdey.com/img/half-circle-pricing.png"); */
    background-repeat: repeat;
    width: 100%;
    height: 17px;
    bottom: -17px;
    z-index: 1;
    left: 0;
}

.single_price_plan .title {
    text-transform: capitalize;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    margin-bottom: 2rem;
}
.single_price_plan .title span {
    color: #ffffff;
    padding: 0.2rem 0.6rem;
    font-size: 10px;
    text-transform: uppercase;
    background-color: #2ecc71;
    display: inline-block;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
}
.single_price_plan .title h3 {
    font-size: 1.25rem;
}
.single_price_plan .title p {
    font-weight: 300;
    line-height: 1;
    font-size: 14px;
}
.single_price_plan .title .line {
    width: 80px;
    height: 4px;
    border-radius: 20px;
    background-color: #cc0033;
}
.single_price_plan .price {
    margin-bottom: 1.5rem;
}
.single_price_plan .price h4 {
    position: relative;
    z-index: 1;
    font-size: 2rem;
    /* line-height: 1; */
    margin-bottom: 0;
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, right top, from(#ee0033), to(#ff0022));
    background-image: linear-gradient(90deg, #cc0022, #ff0055);
}
.offer-price {
    position: relative;
    z-index: 1;
    font-size: 2rem;
    /* line-height: 1; */
    margin-bottom: 0;
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, right top, from(#ffb300), to(#a57c00 ));
    background-image: linear-gradient(90deg, #ffb300, #a57c00 );
}
.regular-price {
    position: relative;
    z-index: 1;
    font-size: 2rem;
    /* line-height: 1; */
    margin-bottom: 0;
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, right top, from(#cc0022), to(#ff0055 ));
    background-image: linear-gradient(90deg, #cc0022, #ff0055 );
}
.single_price_plan .thanks h2 {
	position: relative;
	z-index: 1;
	font-size: 3rem;
	/* line-height: 1; */
	margin-bottom: 0;
	display: inline-block;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-color: transparent;
	background-image: -webkit-gradient(linear, left top, right top, from(#ee0033), to(#ff0022));
	background-image: linear-gradient(90deg, #cc0022, #ff0055);
  }
.single_price_plan .description {
    position: relative;
    margin-bottom: 1.5rem;
}
.bo-red{
	border: 2px solid red ;
}
.bo-green{
	border: 2px solid rgb(7, 104, 59) ;
	}
.bo-yellow{
	border: 2px solid rgb(250, 218, 94) ;
	}
.single_price_plan .description p {
    line-height: 16px;
    margin: 0;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}
.single_price_plan .description p i {
    color: #2ecc71;
    margin: 0 0.5rem;
}
.single_price_plan .description p .lni-close {
    color: #e74c3c;
}
.single_price_plan.active,
.single_price_plan:hover,
.single_price_plan:focus {
    -webkit-box-shadow: 0 6px 50px 8px rgba(255, 43, 23, 0.15);
    box-shadow: 0 6px 50px 8px rgba(255, 43, 23, 0.15);
}
.suc .single_price_plan.active,
.suc .single_price_plan:hover,
.suc .single_price_plan:focus {
	-webkit-box-shadow: 0 6px 50px 8px rgba(23, 255, 127, 0.15)!important;
	box-shadow: 0 6px 50px 8px rgba(23, 255, 127, 0.15)!important;
}
.can .single_price_plan.active,
.can .single_price_plan:hover,
.can .single_price_plan:focus {
	-webkit-box-shadow: 0 6px 50px 8px rgba(250, 218, 94, 0.15)!important;
	box-shadow: 0 6px 50px 8px rgba(250, 218, 94, 0.15)!important;
}

.single_price_plan .side-shape img {
    position: absolute;
    width: auto;
    top: 0;
    right: 0;
    z-index: -2;
}


.bestDeal{
	font-size: 21px!important;
	position: absolute; 
	right: 10px;
}

[lang = "ar"] .bestDeal ,
[lang = "ku"] .bestDeal 
{
	right: auto;
	left: 10px;
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single_price_plan {
        padding: 1rem;
    }
	.bestDeal{
		font-size: 19px!important;
	}
}
@media only screen and (max-width: 575px) {
    .single_price_plan {
        padding: 1rem;
    }
}


.section-heading h3 {
    margin-bottom: 1rem;
    font-size: 3.125rem;
    letter-spacing: -1px;
}

.section-heading p {
    margin-bottom: 0;
    font-size: 1.25rem;
}

.section-heading .line {
    width: 120px;
    height: 5px;
    margin: 30px auto 0;
    border-radius: 6px;
    background: #cc0099;
    background: -webkit-gradient(linear, left top, right top, from(#ee0033), to(#ff0022));
    background: linear-gradient(to right, #cc0022, #ff0055);
}


.contact{

	padding: 20px;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.678);
	border-radius: 10px;
}

.contact a{
	color: #000;
}

.contact ul li{

	list-style: none;
	color: var(--primary);
}

.contact-form:lang(ar){

	direction: rtl;
}

.contact-form input {
	width: 100%;
	height: 50px;
	border: 1px solid #e1e1e1;
	font-size: 16px;
	color: #3f3f44;
	padding-left: 25px;
	margin-bottom: 28px;
}

.contact-form input, .contact-form textarea{

	outline: none;
}

[lang = "ar"] .contact-form input,
[lang = "ku"] .contact-form input
{

	padding-left: 10px;
	padding-right: 10px;
	direction: rtl;
}

.contact-form input::-webkit-input-placeholder {
	color: #aaaab3;
}
.contact-form input::-moz-placeholder {
	color: #aaaab3;
}
.contact-form input:-ms-input-placeholder {
	color: #aaaab3;
}
.contact-form input::-ms-input-placeholder {
	color: #aaaab3;
}
.contact-form input::placeholder {
	color: #aaaab3;
}
.contact-form textarea {
	width: 100%;
	height: 150px;
	border: 1px solid #e1e1e1;
	font-size: 16px;
	color: #3f3f44;
	padding-left: 25px;
	padding-top: 12px;
	margin-bottom: 15px;
	resize: none;
}

[lang = "ar"] .contact-form textarea,
[lang = "ku"] .contact-form textarea
{

	padding-left: 0;
	padding-right: 10px;
	direction: rtl;
}

.ar-text:lang(ar){

	text-align: right;
}

.contact-form textarea::-webkit-input-placeholder {
	color: #aaaab3;
}
.contact-form textarea::-moz-placeholder {
	color: #aaaab3;
}
.contact-form textarea:-ms-input-placeholder {
	color: #aaaab3;
}
.contact-form textarea::-ms-input-placeholder {
	color: #aaaab3;
}
.contact-form textarea::placeholder {
	color: #aaaab3;
}
.contact-form button {
	font-size: 13px;
	font-weight: 500;
	text-transform: capitalize;
	color: #ffffff;
	background: var(--secondary);
	border: none;
	padding: 12px 34px;
	display: inline-block;
}


.demo-form input:focus{
	
	box-shadow: inset 0 -1px 0 #ddd;
}

.form-group:lang(ar){
	text-align: right;
	direction: rtl;
}


.form-row:lang(ar){
	text-align: right;
	direction: rtl;
}


.form-check-label:lang(ar){
	padding-right: 1.5rem;
}

.error-404{
	font-size: 9em;
	font-weight: bold;
	text-align: center;
	padding-top: 18%;
	color: var(--primary);
	align-items: center;
	line-height: 100px;

}

.error-404 img{

	width: 120px;
}


/* SUBSCRIPTION */
hr.underline_Logo{
	border: 3px solid #cc0022;
	border-radius: 5px;
    background: #cc0099;
    background: -webkit-gradient(linear, left top, right top, from(#ee0033), to(#ff0022));
    background: linear-gradient(to right, #cc0022, #ff0055);
}
.nav-pills .nav-link{
	margin-left: 5px;
	margin-right: 5px;
}
.nav-pills .nav-link.active{
	background-color: transparent;
	color: var(--primary)!important;
	border-top: 2px solid var(--primary);
	border-bottom: 2px solid var(--primary);
	font-weight: bold;
}

.single_price_plan .description .spaceC{
	margin-left: 20px;
	padding-bottom: 20px;
}
[lang = "ar"] .single_price_plan .description .spaceC,
[lang = "ku"] .single_price_plan .description .spaceC
{
	margin-right: 20px;
}

[lang = "ar"] .navAR,
[lang = "ku"] .navAR
{
	flex-direction: row-reverse
}
[lang="ar"] .chooseSize-dir,
[lang="ku"] .chooseSize-dir {
    text-align: right;
    direction: rtl;
}
.subsT{
	font-weight: bold;
}

.pay button{
	background-color: transparent;
	border: none;
}

[lang = "ar"] .ar-youtube,
[lang = "ku"] .ar-youtube
{
	text-align: right !important;
	direction: rtl;
}
[lang = "ar"] .accordion button,
[lang = "ku"] .accordion button
{
	text-align: right !important;
	direction: rtl;
}
[lang = "ar"] .accordion .card,
[lang = "ku"] .accordion .card
{
	text-align: right !important;
	direction: rtl;
}

.documentation{
	padding: 2px;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.678);
	border-radius: 10px;
}