/************
GENERAL
************/

/************
Category UI/UX-01
************/
.cat_item-01 {
    height: 180px;
    width: 100%;
    border-radius: 18px;
    margin-top: 15px;
    background-position: 50%;
    background-size: cover;
    overflow: hidden;
}

.overlay-01 {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, var(--main-card-opacity-color));
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-card-text-color);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

[lang="ar"] .nav-pills-01 {
    text-align: right;
    direction: rtl;
    padding-inline-start: 4px !important;
}
