/************
facilities UI/UX-01
************/
[lang="ar"] .title-lang-01,
[lang="ku"] .title-lang-01 {
    padding-right: 5px;
    /* direction: ltr; */
}

.facilities-01 {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.facilities-01 span {
    font-size: 16px;
    display: block;
    color: var(--info-color);
    margin-bottom: 5px;
}

.wifi-password-01 {
    cursor: pointer;
    transition: color 0.3s ease;
}

.wifi-password-01:hover {
    color: var(--theme-color);
}

.phone-number-01 {
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none !important;
}

.phone-link-01 {
    color: var(--info-color);
    text-decoration: none !important;
}

.phone-link-01:hover {
    color: var(--theme-color);
    text-decoration: none !important;
}

.phone-number-01:hover {
    color: var(--theme-color);
    text-decoration: none !important;
}

/************
facilities UI/UX 02
************/
.facilities-02 {
    padding: 15px;
    background-color: var(--navbar-top-color);
}
#rest-title-02 {
    color: var(--navbar-title-color);
}
.info-02 {
    margin-top: 15px;
    color: var(--navbar-text-color) !important;
}
.info-02 a {
    color: var(--navbar-text-color) !important;
}
/************
facilities UI/UX 03
************/
.facilities-03 {
    padding: 15px;
    background-color: var(--navbar-top-color);
    margin-bottom: 0px;
}

@media (min-width: 768px) {
    /* For medium width screens (md), adjust margin bottom to -70px */
    .facilities-03 {
        margin-bottom: -70px;
    }
}
.toggle-icon-03 {
    color: var(--navbar-toggle-color);
}
/* margin-bottom: -45px; */
#rest-title-02 {
    color: var(--navbar-title-color);
}
.info-02 {
    margin-top: 15px;
    color: var(--navbar-text-color) !important;
}
.info-02 a {
    color: var(--navbar-text-color) !important;
}
/* .place-body {
    margin-bottom: 50px;
} */
