/************
GENERAL
************/
#rest-title {
    color: var(--title-color);
}
/************
title UI/UX-01
************/
[lang="ar"] .title-lang-01 {
    padding-right: 5px;
}

/************
facilities UI/UX-01
************/
[lang="ar"] .facilities-01 {
    text-align: right;
    direction: rtl;
}

.facilities-01 {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.facilities-01 span {
    font-size: 16px;
    display: block;
    color: var(--info-color);
    margin-bottom: 5px;
}

.wifi-password-01 {
    cursor: pointer;
    transition: color 0.3s ease;
}

.wifi-password-01:hover {
    color: var(--theme-color);
}

.phone-number-01 {
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none !important;
}

.phone-link-01 {
    color: var(--info-color);
    text-decoration: none !important;
}

.phone-link-01:hover {
    color: var(--theme-color);
    text-decoration: none !important;
}

.phone-number-01:hover {
    color: var(--theme-color);
    text-decoration: none !important;
}
