/************
GENERAL
************/

/************
Food UI/UX-01
************/
.food_item-01 {
    width: 100%;
    border-radius: 18px;
    margin: 30px 0;
    margin-bottom: 45px;
    position: relative;
}

[lang="ar"] .food_item-01 {
    text-align: right;
    direction: rtl;
}

.food_item-01 div {
    margin-bottom: 10px;
}

.food-text-01 {
    margin-left: 10px;
}
.food-name-01 {
    color: var(--category-title-color);
}

.food-desc-01 {
    color: var(--category-description-color);
}
[lang="ar"] .food-text-01 {
    margin-right: 10px;
}

.food_item-01 .food-img-01 {
    width: 100%;
    height: 230px;
    border-radius: 20px;
    background-position: 50%;
    overflow: hidden;
    position: relative;
}

.food-img-01 img {
    width: 100%;
    height: 100%;
}

.food-price-01 {
    color: var(--category-price-color);
}

.old-price-01 {
    color: var(--category-old-price-color);
}

.card-01 {
    background-color: var(--category-card-background-color);
    border-radius: 24px 24px 6px 6px;
    /* color: var(--text-color); */
}

.shd-01 {
    border-radius: 8px;
    border-bottom: 1px solid var(--theme-color);
    box-shadow: -1px 8px 6px 0px var(--category-shadow-color);
    -webkit-box-shadow: -1px 8px 6px 0px var(--category-shadow-color);
    -moz-box-shadow: -1px 8px 6px 0px var(--category-shadow-color);
}

.btn-see-more {
    color: var(--category-button-text-color);
    background-color: var(--category-button-background-color);
}
.special_card {
    width: 70px;
    position: absolute;
    z-index: 9999;
    top: 10px;
    left: 10px;
}
